<html>
    <body>   
        <%- include('navbar') %>
        <h1>Delete Jerseys</h1>       
            <% jerseys.map((jersey) => { %>
                <form action="/deletejersey/<%= jersey.jersey_id %>" method="POST">
                    <img src = "<%= jersey.image_link %>">
                    <button type="submit">Delete</button>
                </form>
            <% }) %>      
    </body>
</html>