<html>
    <body>
        <%- include('navbar') %>
        <h1>By Team</h1>
            <h2>Eastern Conference</h2>
            <h2>Western Conference</h2>
        <a href="/players">By Player</a>
        <h1>All Jerseys</h1>
    </body>
</html>