<html>
    <body>   
        <%- include('navbar') %>
        <h1><%= playerjerseys[0].name %> Jerseys</h1>
                <% playerjerseys.map((player) => { %>
                    <a href="/jersey?jerseyid=<%= player.jersey_id %>">
                        <img src = "<%= player.image_link %>">
                    </a>
                    
                  <% }) %>
    </body>
</html>