<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        
        <%- include('navbar') %>
        <h1>By Team</h1>
                <% teamjerseys.map((team) => { %>
                    <a href="/jersey?jerseyid=<%= team.jersey_id %>">
                        <img src = "<%= team.image_link %>">
                    </a>
                    
                  <% }) %>
    </body>
</html>