<nav class="navbar">
    <ul class="nav-links">
        <li class="nav-item">
            <a href="/">
                <span>Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/newjersey">
                <span>Add Jersey</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/newplayer">
                <span>Add Player</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/updatejersey">
                <span>Update Jerseys</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="/deletejersey">
                <span>Delete Jerseys</span>
            </a>
        </li>
    </ul>
</nav>