<nav>
    <ul>
        <li>
            <a href="/">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/newjersey">
                <span>Add Jersey</span>
            </a>
        </li>
        <li>
            <a href="/newplayer">
                <span>Add Player</span>
            </a>
        </li>
        <li>
            <a href="/">
                <span>Update</span>
            </a>
        </li>
        <li>
            <a href="/delete">
                <span>Delete</span>
            </a>
        </li>
    </ul>
</nav>