<nav>
    <ul>
        <li>
            <a href="/">
                <span>Home</span>
            </a>
        </li>
        <li>
            <a href="/newjersey">
                <span>Add Jersey</span>
            </a>
        </li>
        <li>
            <a href="/newplayer">
                <span>Add Player</span>
            </a>
        </li>
        <li>
            <a href="/updatejersey">
                <span>Update Jerseys</span>
            </a>
        </li>
        <li>
            <a href="/deletejersey">
                <span>Delete Jerseys</span>
            </a>
        </li>
    </ul>
</nav>