<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('navbar') %>
        <h1 class="header">New Player</h1>
        <div class="manageContainer">

        <form action="/newplayer" method="POST">
            <label for="name">Player's Full Name:</label><br>
            <input type="text" name="name" id="name"><br>
            <label for="imagelink">Player's Image Link:</label><br>
            <input type="text" name="imagelink" id="imagelink"><br>

            <button type="submit">Submit</button>
        </div>  
        
    </body>
</html>